<% if user_signed_in? %>
	<h1>You're logged in, sucka!</h1>
<% else %>

<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
	You've found the home page for the 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application
	</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-warning btn-large" %>
</p>
</div>
	<% end %>

	
<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>

	</small>
	</div>
